<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453428399036-evve4lc176lltvam0sesu9fmh4tplgdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453428399036-evve4lc176lltvam0sesu9fmh4tplgdd</string>
	<key>API_KEY</key>
	<string>AIzaSyD55NpfJtSEk8ztbjAIPNbfoaEfjUOMmpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453428399036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizNfg2</string>
	<key>PROJECT_ID</key>
	<string>quiz-nfg-420b0</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-nfg-420b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453428399036:ios:e7e04ede3560a06572f9b9</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-nfg-420b0.firebaseio.com</string>
</dict>
</plist>